body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.css-ki1hdl-MuiAlert-action {
  padding: 3px 0 0 16px !important;
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: space-between;
  overflow: auto;
}
.css-1a4cg4j-MuiButtonBase-root-MuiTab-root {
  font-weight: 700 !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-weight: 600 !important;
}
label[data-shrink="false"]
  + .MuiInputBase-formControl
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  width: 120px !important;
}
.css-1c7b2w7-MuiPaper-root {
  height: 482px !important;
}
.css-p496x8-MuiPaper-root {
  height: 482px !important;
}
.css-bi7l9o-MuiPaper-root {
  height: 485px !important;
}
.css-jeceyw-MuiPaper-root {
  max-height: 484px !important;
}
.css-1mg3ppa {
  border: 1px solid !important;
  border-radius: 10px !important;
}
.css-11nyqjp-MuiButtonBase-root-MuiTab-root {
  min-width: 0 !important;
}
.css-i4bv87-MuiSvgIcon-root {
  height: 20px !important;
  width: 20px !important;
  color: #0275d8 !important;
}

#chart {
  max-height: 500px !important;
  margin: 35px auto;
  opacity: 0.9;
}
.css-cveggr-MuiListItemIcon-root{
  min-width: 30px !important;
}
.css-1mg3ppa{
  height: 80% !important;
}
.css-gqsjjr-MuiPaper-root{
  height: 500px !important;
}
.css-1xnwkla-MuiTypography-root{
  color:'grey !important'
}
.css-qg2r3e-MuiPaper-root{
  height: 612px !important;
}
.css-3hgfyk-MuiPaper-root{
  height: 456px !important;

}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
  background-color: #fff !important;
}

/* li::marker {
  font-size: 35px !important;
  padding: 0px !important;
} */

/* .apexcharts-legend{
  height: 400px !important;
} 

.apexcharts-align-center{
  height: 400px !important;
} 

.apx-legend-position-bottom{
  position: relative !important;
}


.apexcharts-svg{
  height: 400px !important;
  position: relative;
}  */

/* apexchartszof9g7ao apexcharts-theme-light */

/* foreignObject{
  height: 400px !important;
}

#SvgjsSvg2614{
  height: 400 !important;
}
.css-uzvikj{
  height: 400px !important;
} */

/* .css-1lic20b-MuiPaper-root {
  background-color: whitesmoke !important;
} */
/* 
tspan {

  fill: aliceblue !important;

  font-size: 7px !important;

}



.apexcharts-legend-text {

  color: aliceblue !important;

}

text {

  fill: aliceblue !important;

  font-size: 7px !important;

}

.apexcharts-gridline {

  display: none;

}



.apexcharts-legend-series{

    margin-top: 20px !important;

}



line{

  display: none !important;

}



.apexcharts-xaxis-tick{

  display: none;

}



 */

.apexcharts-menu-icon {
  display: none;
}
.apexcharts-legend-series {
  margin-top: 20px !important;
}
